/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */
body {
background:wheat;
}

p {
	font-family:georgia;
}
.col-md-12 {
  padding:0;
}

.col-md-4 {
  padding:0;
}

.header{
  width:100%;
  background-color:#383838;
  padding:20px 0;
}
.logo{
  width: 500px;
  margin:0 auto;
  display:block;
}
.social{
  width:100%;
  background-color:#383838;
  padding:5px 0;
}

.facebook {
  display:inline-block;
  background: url('images/facebook.png') 0 0 no-repeat;
  height:40px;
  width:5%;
}

a.facebook:hover {
    background-position: 0 -40px;
}

.pin {
  display:inline-block;
  background: url('images/pinterest.png') 0 0 no-repeat;
  height:40px;
  width:5%;
}

a.pin:hover {
    background-position: 0 -40px;
}

h1{
  color:linen;
  text-align:center;
  font-size:35px;
  font-family: 'Special Elite', cursive;
  margin: 10px 0;
}
h2{
  color:black;
  text-align:center;
  font-size:25px;
  font-family: 'Special Elite', cursive;
  padding: 10px 0 10px 0;
}

/* Index */
.spm-navbar{
  margin:0px;
}
.spm-navbar{
background:linen;
border-top: 2px dashed #000;
border-bottom: 2px dashed #000;
}

.spm-dropdown{
background:linen;
}

.links{
  line-height:40px;
  background-color:linen;
  font-family: 'Special Elite', cursive;
}

a.link:hover {
    color: firebrick;
    text-decoration:none;
}

.banner {
  padding:20px;
  width:100%;
  background: url('images/burlapBG.jpg') repeat fixed center center / cover;
}

.greeting {
  color:black;
  text-align:center;
  font-size:25px;
  font-family: 'Special Elite', cursive;
  padding: 5px 0;
}

.greeting-big {
  color:black;
  text-align:center;
  font-size:50px;
  font-family: 'Special Elite', cursive;
  padding: 5px 0;
}

.quilt-photo {
  height:250px;
  display: block;
  margin:20px auto 0;

}
.quilt-title {
  color:black;
  font-size:25px;
  font-family: 'Special Elite', cursive;
}

.quilt-paragraph {
  color:black;
  font-size:14px;
  font-family: georgia;
  margin:0 0 25px 25px;
}

/* About */
.about-photo {
  height:250px;
  margin:25px 0 0 57px;
}

.about-paragraph {
  color:black;
  font-size:20px;
  font-family: georgia;
  padding-left:10px;
}
