@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Crete+Round);

/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */
body {
 background:wheat;
}
p{
  font-family: 'Crete Round', serif;
}
hr {
  border-top:dashed 2px black;
}
a{
  color:darkRed;
}
a:hover{
  color:black;
  text-decoration:none;
}

/*Header*/
.page-header {
  background-color:rgba(74,40,0,1.0);
  background-image: url("images/burlapBG.png");
  margin:0;
  height:80px;
  border:none;
}
.header-dash {
  border-top:dashed 3px black;
}

/*Logo & NavBar*/
.spm-logo{
  background-image:url('images/spmLogo.jpg');
  margin-top:-80px;
  height:138px;
  width:400px;
}
@media (max-width:489px) {
  .spm-logo{
    background-image:url('images/spmLogo.jpg');
    height: 86px;
    width: 250px;
  }
}/*Don't delete this*/

.spm-nav {
  background-color:wheat;
  border:none;
  margin:10px;
}
.nav.navbar-nav.links{
  padding-left:20px;
}
.navbar-inverse .navbar-nav>li>a{
  border:none;
  color:black;
  font:18px 'Crete Round', serif;
  margin-top:5px;
}
.navbar-inverse .navbar-nav>li>a:hover{
  background-color:darkRed;
  border-radius: 5px;
  color:white;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:visited{
  background-color:darkRed;
  border-radius: 5px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus{
  color:white;
}

.navbar-collapse{
  padding:0px;
  border:none;
}
.nav-container{
  margin:0;
}
/*Dropdown Menu
.dropdown-menu{
  font:18px 'Crete Round', serif;
  background-color:wheat;
  border:none;
}
.dropdown-menu>li>a{
  font:18px 'Crete Round', serif;
  background-color:wheat;
  border:none;
}
.dropdown-menu>li>a:hover{
  background-color:tan;
}
.dropdown-menu>.divider{
  border:1px darkRed dashed;
  background-color: wheat;
}
.navbar-nav.open>a:focus{
  background-color:green;
}*/

.navbar-inverse .navbar-toggle .icon-bar{
  background-color:black;
}
.navbar-inverse .navbar-toggle:hover{
  background-color:tan;
}
.navbar-inverse .navbar-toggle:focus{
  background-color:tan;
}

/*Carousel*/
.carousel-01 {
  height:300px;
  width:100%;
  background-color:#4A2800;
}
.carousel-01-img {
  background: url('images/pebbleBeach.jpg') no-repeat;
  background-size: 100%;
  background-position: 100% 70%;
  height:300px;
  width:100%;
  background-color:#4A2800;
}
.pebble-text {
  margin-top:10px;
}
.pebble-title {
  font-size:36px;
  font-size:5vw;
  width:100%;
  height:100%;
  color:white;
  margin:0 auto;
  text-align:center;
}
.pebble-by {
  font:24px 'Amatic SC', serif;
  font-size:5vw;
  width:100%;
  height:100%;
  color:white;
  margin:0 auto;
  text-align:center;
}
.pebble-link {
  font:24px 'Crete Round', serif;
  font-size:5vw;
  width:100%;
  height:100%;
  color:white;
  margin:0 auto;
  text-align:center;
}
.carousel-02 {
  background-image:url('https://s-media-cache-ak0.pinimg.com/736x/32/a3/4c/32a34cd1b7878782a014f7def4a58e0e.jpg');
  background-position: 15% 42%;
  background-size: cover;
  height:300px;
}
.carousel-03 {
background: url('images/carousel01.jpg') 0 0 no-repeat;
background-position: 15% 42%;
background-size: cover;
height:300px;
}

/*Jumbotron
.jumbotron {
  background-image:url('https://s-media-cache-ak0.pinimg.com/736x/32/a3/4c/32a34cd1b7878782a014f7def4a58e0e.jpg');
  background-position: 15% 42%;
  background-size: cover;
  height:225px;
}
.slideshow {
  margin:20px 0 10px 0;
}*/

/*Quilt Thumbnails*/
.section-title{
  font-family: 'Amatic SC', cursive;
  font-size:50px;
  text-align:center;
  text-transform:uppercase;
  font-weight:500;
  color:#4A2800;
}
.thumbnail{
  text-decoration:none;
  border:dashed 3px tan;
  margin:10px;
  background-color:rgba(255,255,255,0.75);
}
a.thumbnail:hover{
  text-decoration:none;
  border:dashed 3px #AB9B7D;
  box-shadow: 2px 2px 1px #AB9B7D;
}
.quilt-blocks{
  background-color:wheat;
  padding:5px 5px 0 5px;
  border:none;
}
.quilt-title{
  font-family: 'Crete Round', serif;
  color:black;
  font-size:12px;
  text-align:center;
}
#sweetheart-basket {
  letter-spacing: -0.5px;
}
.quilt-photo {
  width:80%;
  padding-bottom:10px;
}

/*Footer*/
.footer{
 background-color:#4A2800;
 padding-top:10px;
 text-align:center;
}
.ft-link {
  font-family: 'Amatic SC', cursive;
  padding: 0 10px;
  font-size:40px;
  text-decoration:none;
  color:wheat;
}
.ft-link:hover {
  text-decoration:none;
  color:white;
}
.ft-copyright{
 padding:10px 0;
 letter-spacing:2px;
 color:tan;
}
/*Social Media*/
.pin {
background: url('images/pinterest.png') 0 0 no-repeat;
height:40px;
width:40px;
margin:5px 10px 0 0;
display:inline-block;
}
.pin:hover {
  background-position: 0 -40px;
}
.fb {
background: url('images/facebook.png') 0 0 no-repeat;
height:40px;
width:40px;
margin:0 10px 0 0;
display:inline-block;
}
.fb:hover {
  background-position: 0 -40px;
}

/*Patterns.HTML*/
.spm-gallery.thumbnail{
  text-decoration:none;
  border:dashed 2px tan;
  margin:5px;
}
.spm-gallery.thumbnail:hover{
  text-decoration:none;
  border:dashed 2px #AB9B7D;
  box-shadow: 3px 3px 2px #AB9B7D;
}
.quilt-blocks{
  background-color:wheat;
  padding-top:10px;
  border:none;
}
.quilt-title{
  font-family: 'Crete Round', serif;
  color:black;
  font-size:28px;
  text-align:center;
}
.quilt-photo {
  width:80%;
  padding-bottom:10px;
}

/*Contact Page*/
.spm-contact>.thumbnail{
  border:none;
  text-decoration:none;
  margin:5px;
  background-color:rgba(255,255,255,0.5);
  padding:10px;
  text-align:center;
}
.contact-title{
  font-family: 'Crete Round', serif;
  color:darkRed;
  font-size:28px;
  text-align:center;
}
.spm-contact .contact-image {
  background-image:url('images/chevron.jpg');
  background-size: cover;
  height:350px;
  margin-right:20px;
}

/*About Page*/
.spm-about>.thumbnail{
  border:none;
  text-decoration:none;
  margin:10px;
  background-color:rgba(255,255,255,0.5);
  text-align:left;

}
.about-title{
  font-family: 'Crete Round', serif;
  color:darkRed;
  font-size:28px;
  text-align:center;
  border-bottom:dashed 2px tan;
}
.about-image-holder{
  width:100%;
}
.spm-about>.about-image {
  background-image:url('images/karen.jpg');
  background-size: cover;
  height:400px;
  width:400px;
  margin:0 auto 20px;
}
.about-text {
  margin:15px;
}
/*Individual Quilt Page*/
.ind, .ind-row{
  border:none;
  text-decoration:none;
}
.ind-description{
  border:none;
  background-color:rgba(255,255,255,0.5);
  text-decoration:none;
  padding:20px;
  margin:0 20px 20px 40px;
  width:90%;
}
.ind-pattern-title{
  font-family: 'Crete Round', serif;
  color:darkRed;
  font-size:28px;
  text-align:center;
}
.pattern-contents {
  font-family: 'Crete Round', serif;
  font-size:18px;
  padding:0 100px;
}
.contents-header{
  font-family: 'Crete Round', serif;
  color:darkRed;
  font-size:24px;
  text-align:center;
}
.pattern-purchase {
  text-align:center;
}
/*Lightbox*/
.lightbox-thumb {
  width:225px;
  display:block;
  margin:0 auto 15px;
  padding:3px;
}
.lightbox-full{
  height:300px;
  width:300px;
}
.lightbox li {
	list-style: none;
}
.lightbox a:hover img {
  box-shadow:  0 0 1em #AB9B7D;
}
